body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
}


/* background graphics  */

.compass {
  background-image: url(./Images/compass.jpg);
  background-position: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 2% 18% 20% 20% 20% 18% 2%;
  grid-template-rows: 6.5% 10% 10% 10% 10% 10% 10% 10% 10% 10%; 
}


/* text field color scheme  */

.text-bg-stnd {
  background-color: rgba(3,64,120,.8);
  color: #FEFCFB;
  border-radius: 1rem;
}

/* homescreen and buttons */

#home-screen {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 10% 10% 10% 10% 5% 10% 10% 10% 10% 10%;
  justify-items: center;
}

#login {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 6;
  align-self: center;
}

#create-account {

  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 4;
  align-self: center;
}


/* login form */
#full-window{
  height: 100vh;
  width: 100vw;
  display: grid;
  align-content: center;
  
}
 #login-form {
  height: 100vh;
  width: 100vw;
 
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 8% 8% 8% 2% 8% 2% 8% 8% 8% 8%;
  
}

#li-user-name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  text-align: center;
}

#li-password {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  text-align: center;
}

#li-submit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  text-align: center;
}

/* create new account */
 /* uses li-username li-password from above */

#form-style {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20% auto 20%;
  grid-template-rows: 8% 8% 8% 2% 8% 2% 8% 2% 8% 2% 8% 2% 8% 2%;
}

#cu-first-name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 7;
  text-align: center;
}

#cu-last-name {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 9;
  text-align: center;
}
#cu-start-date {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 11;
  text-align: center;
}
#cu-submit {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 13;
  text-align: center;
}

/* main page */
/* grid system is off of the compass grid */

#top-nav-bar {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 1;
  text-align: center;
}

#view-container {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 8;
  display: grid;
  grid-template-rows: 12% 12% 75%;
  /* grid-auto-rows: 3fr; */
}

#view-nav-bar {
  grid-row: 2;
  text-align: center;
  display: grid;

}

/* #view-delete{
  color:#D7263D;
  background-color:  #034078;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row: 1;
} */

/* #view-public{
  grid-column-start: 4;
  grid-column-end: 5;
} */

#view-new-category{
  grid-row: 1;
  background-color: rgba(3,64,120,.8);
  color: #FEFCFB;
}
/* #view-save{
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row: 1;
} */
#view-nav-bar > span{
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row: 1;
}

#view-note-area{
  background-color: rgba(3,64,120,.8);
  color: #FEFCFB;
  border-radius: 1rem;
}
span > #text-bg-stnd {
  background-color:  #034078;
  color: #FEFCFB;
}

/* select area */

#select-container {
  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 8;
  grid-row-end: 11;
  display: grid;
  grid-template-rows: 20% 80%;
}

#select-display-div{
padding: 2%;
background-color:  rgba(37,206,209, .2);
color: #FEFCFB;
overflow-y: auto;
border-radius: 1rem;
}
